[submodule "components/common/homekit"]
	path = components/common/homekit
	url = https://github.com/maximkulkin/esp-homekit
[submodule "components/common/cJSON"]
	path = components/common/cJSON
	url = https://github.com/maximkulkin/esp-cjson
[submodule "components/common/wolfssl"]
	path = components/common/wolfssl
	url = https://github.com/maximkulkin/esp-wolfssl
[submodule "components/esp-32/http-parser"]
	path = components/esp-32/http-parser
	url = https://github.com/maximkulkin/esp-http-parser.git
